<div class="container">
    <h1>Leave a new review</h1>

<form class="new_review" id="new_review" action="/reviews" accept-charset="UTF-8" method="post">
  <label for="content">Content</label>
  <input type="text" name="content" id="content">
  <label for="rating">Rating</label>
  <input type="number" name="rating" id="rating">
  <input type="submit" name="submit" value="submit review" 
</form>
</div>